.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #213547;
}

.description {
  font-size: 1.2rem;
  color: #666;
  text-align: center;
}
