.card {
  background-color: var(--color-background-card);
  border: 1px solid var(--color-border);
  border-radius: 0;
  padding: 1.5rem;
  transition: all 0.25s;
}

@media (prefers-color-scheme: light) {
  .card {
    background-color: var(--color-background-card-light);
    border-color: var(--color-border-light);
  }
}
