.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
}

@media (prefers-color-scheme: light) {
  .container {
    background-color: var(--color-background-primary-light);
    color: var(--color-text-primary-light);
  }
}

.calendar {
  display: flex;
  flex: 1;
  overflow-y: auto;
  position: relative;
}
